.outer-grid-container {
    display: grid;
    grid-template-columns: 200px auto;
    height: 92vh;
}

.list-group-custom {
    color: white;
    margin-top: 1px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.custom-card {
    height: 30rem;
    overflow: auto;
}

/* width */
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
  